.s-featured-products {
  display: block;
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .s-featured-products {
    padding: 64px 0 128px;
  }
}
.s-featured-products__container {
  padding: 0 16px;
  max-width: 1472px;
  margin: 0 auto;
}
.s-featured-products__title {
  margin: 0;
  font-family: var(--font-heading-family);
  color: #5F5A2A;
  font-size: 34px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 136.5%;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .s-featured-products__title {
    font-size: 48px;
  }
}
.s-featured-products__tabs-wrapper {
  overflow-x: scroll;
}
.s-featured-products__tabs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 48px auto 0;
  border: 2px solid #5F5A2A;
  border-radius: 64px;
  padding: 10px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
}
@media screen and (min-width: 768px) {
  .s-featured-products__tabs {
    margin: 64px auto 0;
    padding: 10px 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 64px;
    -moz-column-gap: 64px;
    column-gap: 64px;
  }
}
.s-featured-products__tab-title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.s-featured-products__tab-title > label {
  border-radius: 64px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--Gray-gray4, #727272);
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 134.6%;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-out, color 250ms ease-out, border-color 250ms ease-out;
  transition: background-color 250ms ease-out, color 250ms ease-out, border-color 250ms ease-out;
}
@media screen and (min-width: 768px) {
  .s-featured-products__tab-title > label {
    padding: 16px 24px;
    font-size: 20px;
  }
}
.s-featured-products__tab-title > input:checked + label {
  background-color: #37341C;
  color: #E9EBCE;
}
.s-featured-products__tab-title > label:hover {
  border-color: #37341C;
}
.s-featured-products__slider-tab {
  display: none;
}
.s-featured-products__slider-tab.is-active {
  display: block;
}
.s-featured-products__slider {
  margin: 40px 0 0;
}
@media screen and (min-width: 768px) {
  .s-featured-products__slider {
    margin: 48px 0 0;
  }
}
.s-featured-products__slider, .s-featured-products__slider .flickity-viewport:focus-visible, .s-featured-products__slider .flickity-slider:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.s-featured-products__arrows {
  margin: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .s-featured-products__arrows {
    margin: 40px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
}
.s-featured-products__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #939C38;
  cursor: pointer;
}
.s-featured-products__arrow--next > svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.s-featured-products__arrow.is-disabled {
  pointer-events: none;
  opacity: 0.8;
}
.s-featured-products__product-card {
  margin-right: 24px;
  width: 100%;
  max-width: 287px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .s-featured-products__product-card {
    max-width: 305px;
    margin-right: 30px;
  }
}